/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark Mode */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  
  --ion-background-color: #ffffff;
  --ion-text-color: var(--ion-color-secondary);
}

ion-content {
  --background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--ion-color-secondary);
}